<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input [(ngModel)]="title" class="form-control" placeholder="Rechercher par titre...">
          </div>
    <div *ngFor="let element of categories"  class=" col-md-4" style="margin-bottom: 20px;">
        <div *ngIf="element.title.toLowerCase() == title.toLowerCase() || title==''">
            <img [src]="element.image" alt="element.title" 
    class="img-fluid h-50 w-75" (click)="showDesc(element.description) ">
    <h3>{{ element.title |uppercase}}</h3>
    <button class="btn btn-primary" *ngIf="element.available">Voir produits</button>
    <p *ngIf="!element.available">category non dispo</p>
    </div>
</div>
   
</div>